// Import page-specific CSS files here.
@import "home";
.header {
  display: flex;
  height: 400px;
  width: 100%;
  background-image: asset-url("overhead-view-large-film-reel-tickets-brightly-lit-metal-rolled-up-food-drinks-lettered-sign-100619314.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-position: right bottom;
  justify-content: center;
  align-items: center;

  h1 {
    color: rgb(255, 255, 255);
    font-size: 100px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 1);
    font-weight: 700;
  }
}
